<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    <div class="spacer">
        <h2>{{article.title}}
            {{#if author}}
            <div class="controls">
                <a href="/article/edit/{{article._id}}">[edit]</a>
                <a href="/article/delete/{{article._id}}">[delete]</a>
            </div>
            {{/if}}
        </h2>
        <article>

            {{#each paragraphs}}
            <p>
                {{this}}
            </p>
            {{/each}}
            
        </article>
    </div>
</main>