<main>
    {{#if error}}
    <section class="notifications">
        <p class="notification-message">{{error.message}}</p>
    </section>
    {{/if}}

    {{#if success}}
    <section class="notifications" style="background-color: aquamarine;">
        <p class="notification-success">{{success.message}}</p>
    </section>
    {{/if}}

    <section class="actions">
        <form action="/expense/refill" method="POST">
            <h2>Salary time? Refill your account amount.</h2>
            <input type="text" name="amount" id="refill-amount">
            <button type="submit">Refill</button>
        </form>
        <div>
            <h2>New expense comming up?</h2>
            <a href="/expense/create">Add it now</a>
        </div>
    </section>

    <hr class="separator">

    {{#if expenses}}

    <table class="expenses">
        <thead>
            <tr>
                <th>Merchant</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>

        </thead>
        <tbody>

            {{#each expenses}}
                {{>expense}}
            {{/each}}
           

        </tbody>
    </table>

    {{else}}
    <h1 class="no-expenses">No expenses founded so far.. <span>GOOD JOB!</span></h1>
    {{/if}}

</main>