/* loading, success and error boxes css below notification */
.loadingBox {
    background: #7CB3E9;
    display: none;
}

.infoBox {
    background: #393;
    animation: fadeOut 1s forwards;
    animation-delay: 3s;
}

.errorBox {
    background: #F50;
    animation: fadeOut 1s forwards;
    animation-delay: 3s;
}

/* fadeout animation to insert at bottom */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* notification css just in case */
.notification {
    position: fixed;
    z-index: 10;
    top: 6rem;
    right: 5rem;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
}