<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    <section>
        <h2>Search results for: "{{searchText}}"</h2>
        <div class="spacer">
            <ul>
                
                {{#each searchResults}}
                    {{>allArticle}}
                {{else}}
                    <p>No matches found!</p>
                {{/each}}
            
            </ul>
        </div>
    </section>
</main>